@import '../../common/colours.scss';

.pagination {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  font-size: 0.8rem;

  &__item {
    margin: 0.2rem;
    text-align: center;
    font-weight: bolder;
    width: 30px;
    line-height: 30px;
    height: 30px;
    cursor: pointer;
    transition: background-color 0.2s;
    border-radius: 50%;

    &:hover {
      background: $pokemon-primary;
      color: white;
      border-radius: 50%;
    }

    &--active {
      background: $pokemon-primary;
      color: white;
      border-radius: 50%;
    }
  }
}