.pokemon-details {
  max-width: 480px;
  margin: auto;
  padding: 1rem;
  transform: translateY(-30px);

  &__nav-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) scale(1.5);
    border: none;
    transition: transform 0.2s;
    color: gray;
    background: none;
    cursor: pointer;

    &--back {
      left: 0;
    }

    &--forward {
      right: 0;
    }

    &:hover {
      transform: translateY(-50%) scale(2);
    }

    & > * {
      vertical-align: middle;
    }

    & > img {
      height: 30px;
    }
  }

  &__image {
    height: 250px;
    //transform: translateY(20px);
    image-rendering: crisp-edges;
    image-rendering: pixelated;
  }

  &__image-wrapper {
    position: relative;
    //width: 250px;
    //margin: auto;
    //border-radius: 50%;
    text-align: center;
    //background: #EEE;
  }

  &__name {
    margin: 0 0 1rem 0;
    text-align: center;
    font-size: 2rem;
    font-weight: normal;
    text-transform: capitalize;
  }

  &__size-wrapper {
    display: flex;
    justify-content: space-around;
  }

  &__size {
    font-size: 1rem;
    color: gray;
  }

  &__description {
    font-size: 1rem;
    font-weight: lighter;
    font-style: italic;
    text-align: justify;
    line-height: 1.5rem;
  }
}