@import '../../common/breakpoints';

.pokemon-list {
  display: flex;
  flex-wrap: wrap;

  &__pokemon-wrapper {
    box-sizing: border-box;
    padding: 0.5rem;
    width: 25%;

    @include at-sm-down {
      width: 100%;
      padding: 0.5rem 0;
    }

    @include at-sm-up {
      width: 50%;
    }

    @include at-md-up {
      width: 33.33%;
    }

    @include at-lg-up {
      width: 25%;
    }

  }
}

.search-failure {
  margin-top: 3rem;
  text-align: center;
}