@import '../../common/colours.scss';

.pokemon-type {
  display: inline-block;
  padding: 0.1rem 0.7rem;
  margin: 0.2rem 0.3rem;
  min-width: 70px;
  font-size: 0.8rem;
  border: 1px solid gray;
  border-radius: 10px;
  text-align: center;

  &:hover {
    background: lightgray;
  }

  @each $type, $color in $type-colors {
    &--#{$type} {
      color: $color;
      border-color: $color;
    }
  }
}