$type-colors: (
        "water": #6890F0,
        "poison": #A040A0,
        "grass": #78C850,
        "fire": #F08030,
        "flying": #A890F0,
        "bug": #A8B820,
        "normal": #A8A878,
        "electric" : #E3D030,
        "ground": #E0C068,
        "fairy": #EE99AC,
        "fighting": #C03028,
        "psychic" : #F85888,
        "rock": #B8A038,
        "ghost": #705898,
        "ice": #98D8D8,
        "dragon": #7038F8,
        "steel" : #B8B8D0,
);

.pokemon-type {
  display: inline-block;
  padding: 0.1rem 0.7rem;
  margin: 0.2rem 0.1rem;
  min-width: 70px;
  font-size: 0.8rem;
  border: 1px solid gray;
  border-radius: 10px;

  @each $type, $color in $type-colors {
    &--#{$type} {
      color: $color;
      border-color: $color;
    }
  }
}