@import '../../common/colours.scss';
@import '../../common/breakpoints.scss';

@keyframes dialog-zoom-in {
  from {
    transform: translate(-50%, -50%) scale(0);
  }

  to {
    transform: translate(-50%, -50%) scale(1);
  }
}

.filter-dialog {
  z-index: 10000;
  position: fixed;
  background: white;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, .12);
  left: 50%;
  top: 50%;
  transform-origin: center;
  transform: translate(-50%, -50%);
  padding: 1rem;
  border-radius: 10px;
  animation: dialog-zoom-in 0.2s;

  @media screen and (max-width: $breakpoint-xs) {
    width: 90%;
  }

  @media screen and (min-width: $breakpoint-xs) {
    width: 50%;
  }

  &__type-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  }

  &__type-list-item {
    font-size: 1rem;
    border: 1px solid gray;
    border-radius: 20px;
    padding: 0.2rem 1rem;
    margin: 0.2rem;
    cursor: pointer;

    @each $type, $color in $type-colors {
      &--#{$type} {
        color: $color;
        border-color: $color;

        &:hover {
          background: $color;
          color: white;
        }

        &-active {
          background: $color;
          color: white;
          border-color: $color;
        }
      }
    }
  }

}

.dialog-overlay {
  display: block;
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: black;
  opacity: 0.6;
}