.pokemon-search {
  -moz-appearance: none;
  -webkit-appearance: none;
  border: 1px solid lightgray;
  border-radius: 20px;
  height: 40px;
  padding: 0 1rem;
  margin: 0 0.5rem;
  transition: border-color 0.2s;

  &:focus {
    border-color: #6890F0;
  }
}