@import '../../common/colours.scss';
@import '../../common/breakpoints.scss';

.pokemon-search {
  @include at-sm-down {
    width: 100%;
    margin-right: 0;
  }
  border: 1px solid lightgray;
  border-radius: 20px;
  height: 40px;
  padding: 0 1rem;
  margin: 0.5rem 0.5rem 0.5rem 0;
  transition: border-color 0.2s;

  &:focus {
    border-color: $pokemon-primary;
  }
}